/*============FULLSCREEN==============*/
.hero{
    height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background: #c7c7c7;
}
.form-box{
    top: 5%;
    width: 70%;
    height: 700px;
    position: relative;
    margin: 8vh auto;
    background:  #dbe0e2;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    margin-left: auto; 
    margin-right: auto;
}

.input-group{
    top: 7%; 
    position: relative;
    width: 380px;
    margin-left: auto; 
    margin-right: auto;
}

.input-field{
    width: 100%;
    font-size: large;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-field:focus{
    border-bottom: 2px solid rgb(61, 61, 61);
    transition: ease-in-out 50ms;
}

.nadpis{
    text-align: center;
    font-size: 2.0rem;
}

.submit-btn{
    width: 85%; 
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 8% auto;
    background: rgb(8, 116, 240);
    color: white;
    border: 0;
    opacity: 0.8;
    outline: none;
    border-radius: 30px;
    font-size: larger;
}

.submit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    opacity: 1;
    transition: 0.2s;
}

.selOptions {
    width: 100%;
    /* color: #777; */
    height: 35px;
    display: inline-block;
    padding: 2px 4px;
    margin: 2% auto;
    background:  #dbe0e2;
    text-decoration: none;
    border-radius: 10px;
    font-size: large;
}
/*============ZMENSENE OKNO 950px==============*/
@media screen and (max-width:950px){
    .hero{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .nadpis{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .form-box{
        width: 500px;
        height: 550px;
        position: relative;
        margin: 10vh auto;
        background:  #dbe0e2;
        padding: 5px;
        overflow: hidden;
        border-radius: 30px;
    }
    
    .input-group{
        top: 20px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    
    .input-field{
        width: 100%;
        padding: 10px 0;
        font-size: small;
        margin: 5px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }
    
    .submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: 8% auto;
        background: rgb(8, 116, 240);
        color: white;
        border: 0;
        opacity: 0.8;
        outline: none;
        border-radius: 30px;
        font-size: large;
    }
    
    .submit-btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        color: white;
        opacity: 1;
        transition: 0.2s;
    }
    
    .submit-btn-red{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: 2% auto;
        background: rgba(212, 15, 15, 0.767);
        color: white;
        border: 0;
        outline: none;
        opacity: 0.8;
        border-radius: 30px;
        font-size: small;
    }
    
    .submit-btn-red:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        color: white;
        opacity: 1;
        transition: 0.2s;
    }
    
    #edit{
        left: 110px;
    }

    .selOptions {
        font-size: small;
    }
}

/*============ZMENSENE OKNO 715px==============*/
@media screen and (max-width: 715px){
    .nadpis{
        text-align: center;
        font-size: 1.3rem;
    }
    .form-box{
        width: 350px;
    }

    .input-group{
        width: 230px;
        font-size: large;
    }

    #edit{
        left: 70px;
    }
}

/*====================================================================*/
/*============ZMENSENE OKNO 450px==============*/
@media screen and (max-width: 450px){
    .form-box{
        top: 12px;
        width: 390px;
    }
    #edit{
        left: 80px;
    }
}

/*============ZMENSENE OKNO 375px==============*/
@media screen and (max-width: 375px){
    .form-box{
        width: 360px;
    }
    #edit{
        left: 70px;
    }
}

/*============ZMENSENE OKNO 350px==============*/
@media screen and (max-width: 350px){
    .form-box{
        top: 15px;
        width: 320px;
    }
    #edit{
        left: 50px;
    }
}