/*  Autor: Zdenek Dobes (xdobes21)
    Popis: styly pro stranku s tymy
*/

.title_container{
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 60px;
    margin-top: 30px;   
}

.add_team_container{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0px 100px;
}

.add_team{
    display: flex;
    height: 100%;
    width: 100%;
    border: 2px solid #131313;
    background: rgba(255, 255, 255, 1);
    border-radius: 30px;
}

.bar{
    display: flex;
    position: absolute;
    height: 30px;
    width: 4px;
    background: #131313;
    pointer-events: none;
}

.ver_bar{
    transform: translateX(28px) translateY(15px) rotate(90deg);
}

.hor_bar{
    transform: translateX(28px) translateY(15px);
}

.add_team:hover{
    cursor: pointer;
}

.add_team:hover ~ .hor_bar{
    animation-duration: 1s;
    animation-name: spin_hor;
    animation-timing-function: ease-in-out;
}

@keyframes spin_hor{
    0% {transform: translateX(28px) translateY(15px) rotate(0deg);}
    100% {transform: translateX(28px) translateY(15px) rotate(90deg);}
}

.add_team:hover ~ .ver_bar{
    animation-duration: 1s;
    animation-name: spin_ver;
    animation-timing-function: ease-in-out;
}

@keyframes spin_ver{
    0% {transform: translateX(28px) translateY(15px) rotate(90deg);}
    100% {transform: translateX(28px) translateY(15px) rotate(180deg);}
}

.title{
    display: flex;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 10px 0;
    width: 340px;
    height: 100%;
    align-items: center;
    padding: 10px 30px;
    margin-left: -10px;
    color: #131313;
    opacity: 0.9;
    text-shadow: 3px 3px 6px slategrey;
}

.find_container{
    display: flex;
    width: 260px;
    align-items: center;
}

.find_bar{
    width: 210px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.find_bar:focus{
    outline: none;
    border: 1px solid black;
}

.find_square{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.round_bar{
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #131313;
    border-radius: 15px;
    transform: translateX(216px) translateY(-35px);
    pointer-events: none;
}

.line_bar{
    display: flex;
    width: 2px;
    height: 15px;
    background: #131313;
    position: absolute;
    transform: translateX(236px) translateY(-20px) rotate(-45deg);
    pointer-events: none;
}

.team_border{
    width: 100%;
    display: flex;
    justify-content: center;
}

.team_list{
    display: block;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 35px;
}

.team_middle{
    display: flex;
    width: 100%;
    height: 80px;
    text-decoration: none;
    color: #131313;
    border-radius: 15px;
}

.team_middle:hover{
    background: rgba(8, 116, 240, 1);
    cursor: pointer;
}

.team_divider{
    margin: 0;
    display: block;
    list-style-type: none;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.team_row{
    display: flex;
    justify-content: space-between;
}

.team_name{
    display: flex;
    white-space: nowrap;
    width: 50%;
    font-size: 1.9rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 50px;
    overflow: hidden;
    font-weight: 600;
}

.members{
    display: flex;
    list-style-type: none;
    width: 31vw;
    height: 45px;
    justify-content: left;
    align-items: center;
    margin-left: -40px;
}

.member_container{
    display: flex;
    height: 40px;
    width: 40px;
    background: #CCCCCC;
    border: 2px solid #131313;
    margin-right: 2px;
    margin-top: 30px;
}

.head{
    pointer-events: none;
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #131313;
    border-radius: 10px;
    transform: translateX(7px) translateY(8px);
}

.body{
    pointer-events: none;
    display: flex;
    position: absolute;
    width: 26px;
    height: 10px;
    border:2px solid #131313;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    transform: translateX(4px) translateY(27px);
}

.amount{
    display: flex;
    position: relative;
    margin-top: 31px;
    margin-left: 10px;
    font-size: 1.5rem;
}


.team_compatibility{
    display: flex;
    width: 5vw;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.8rem;
    margin-right: 20px;
    margin-top: 22px;
}

.team_keywords{
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 50%;
    font-size: 1.1rem;
    margin-left: 30px;
}

.row{
    display: flex;
    width: 95%;
    height: 2px;
    background: #131313;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.empty{
    width: 40px;
}

/*====== filter start =======*/
.filter{
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url("../images/filter.png");
    box-shadow: 1px 1px 2px #131313;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #131313;
}

.filter:hover{
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.3s;
}

.filter_window_container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.filter_window{
    width: 400px;
    height: 200px;
    border: 2px solid #131313;
    background: #ffffff;
    box-shadow: 1px 1px 5px #131313;
    font-size: 3rem;
    z-index: 10;
    border-radius: 5px;
}

.return_container{
    position: absolute;
    border: 2px solid #131313;
    width: 40px;
    height: 40px;
    margin-left: 358px;
    margin-top: -2px;
    border-radius: 5px;
}

.return_container:hover{
    background: #FF3333;
    cursor: pointer;
}

.filter_confirm_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.filter_confirm{
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    background: rgb(8, 116, 240);
    color: white;
    border: 0;
    opacity: 0.8;
    outline: none;
    border-radius: 30px;
    text-align: center;
}

.filter_confirm:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    opacity: 1;
    transition: 0.2s;
}

.barrand{
    position: absolute;
    pointer-events: none;
    width: 36px;
    height: 2px;
    background: #131313;
    font-size: 0;
}

.bar_1{
    transform: translateY(18px) rotate(45deg);
}

.bar_2{
    transform: translateY(18px) rotate(-45deg);
}

/*====== filter end =======*/

.select_title{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;

}

.select_container{
    height: 140px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.my_selects{
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid #131313;
}

.noTeams{
    justify-content: center;
    display: flex;
    text-align: center;
}

/*============ZMENSENE OKNO 1200px==============*/
@media screen and (max-width: 1200px){
    .team_name{
        width: 60%;
    }
}

/*============ZMENSENE OKNO 1000px==============*/
@media screen and (max-width: 1000px){
    .team_name{
        width: 70%;
    }

    .find_container{
        width: 200px;
    }

    .find_bar{
        width: 150px;
    }

    .round_bar{
        transform: translateX(156px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(176px) translateY(-20px) rotate(-45deg);
    }

    .add_team_container{
        margin: 0px 70px;
    }
    
    .title{
        padding: 10px 0;
    }
}

/*============ZMENSENE OKNO 875px==============*/
@media screen and (max-width: 875px){
    .team_name{
        width: 80%;
    }

    .empty{
        display: none;
    }

    .filter{
        margin-left: 50px;
    }

    .title{
        margin-left: 80px;
        justify-content: center;
    }

    #find_container{
        width: 100px;
    }

    .add_team_container{
        margin: 0px 30px;
    }

    #find_con_phone{
        display: flex;
        justify-content: center;
    }

    .find_bar{
        margin-left: 15px;
        width: 220px;
    }

    .round_bar{
        transform: translateX(241px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(261px) translateY(-20px) rotate(-45deg);
    }

    .team_name{
        margin-left: -20px;
        font-size: 1.7rem;
    }

    .team_keywords{
        font-size: 0.9rem;
        margin-top: -5px;
        margin-left: 0;
    }

    .member_container{
        margin-top: 35px;
    }

    .amount{
        margin-top: 36px;
        font-size: 1.3rem;
    }

    .team_compatibility{
        margin-top: 27px;
        font-size: 1.6rem;
    }

    .row{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*============ZMENSENE OKNO 780px==============*/
@media screen and (max-width: 780px){
    .add_team_container{
        margin: 0px 10px;
    }

    .filter{
        margin-left: 20px;
    }

    .title{
        font-size: 2.8rem;
        width: 320px;
    }
}

/*============ZMENSENE OKNO 700px==============*/
@media screen and (max-width: 700px){
    .add_team_container{
        margin: 0px;
    }

    .title{
        justify-content: center;
    }

    #find_container{
        width: 60px;
    }

    #find_con_phone{
        display: flex;
        justify-content: center;
    }

    .find_bar{
        margin-left: 15px;
        width: 220px;
    }

    .round_bar{
        transform: translateX(241px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(261px) translateY(-20px) rotate(-45deg);
    }
}

/*============ZMENSENE OKNO 625px==============*/
@media screen and (max-width: 625px){
    .title{
        justify-content: center;
        margin: 0;
    }

    #find_container{
        width: 60px;
    }

    #find_con_phone{
        display: flex;
        justify-content: center;
    }

    .find_bar{
        width: 205px;
        margin-left: -55px;
    }

    .round_bar{
        transform: translateX(156px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(177px) translateY(-20px) rotate(-45deg);
    }

    .team_name{
        margin-left: -20px;
    }

    .team_keywords{
        margin-top: -28px;;
        margin-left: 0;
    }

    .members{
        padding: 0;
        margin-top: -15px;
        position: relative;
        width: 80px;
        margin-left: -80px;
        left: 40px;
    }

    .amount{
        margin-left: 5px;
    }

    .team_compatibility{
        margin-top: 50px;
        position: relative;
        left: 0px;
    }

    .noTeams{
        font-size: medium;
    }
}

/*============ZMENSENE OKNO 540px==============*/
@media screen and (max-width: 540px){
    .title{
        font-size: 2.5rem;
        width: 220px;
    }
}

/*============ZMENSENE OKNO 500px==============*/
@media screen and (max-width: 500px){
    .filter_window{
        width: 300px
    }

    .return_container{
        margin-left: 258px;
    }

    .title_container{
        margin: 10px 0;
    }

    .add_team_container{
        width: 40px;
        height: 40px;
    }
      
    .bar{
        height: 20px;
    }

    .find_bar{
        width: 220px;
        margin-left: 0;
    }

    .round_bar{
        transform: translateX(226px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(246px) translateY(-20px) rotate(-45deg);
    }
    
    .ver_bar{
        transform: translateX(18px) translateY(10px) rotate(90deg);
    }
    
    .hor_bar{
        transform: translateX(18px) translateY(10px);
    }

    @keyframes spin_hor{
        0% {transform: translateX(18px) translateY(10px) rotate(0deg);}
        100% {transform: translateX(18px) translateY(10px) rotate(90deg);}
    }

    @keyframes spin_ver{
        0% {transform: translateX(18px) translateY(10px) rotate(90deg);}
        100% {transform: translateX(18px) translateY(10px) rotate(180deg);}
    }

    .add_team_container{
        margin: 0px;
    }

    #find_container{
        width: 40px;
    }

    .team_border{
        margin-top: -10px;
    }

    .team_name{
        font-size: 1.5rem;
        margin-left: -30px;
    }

    .team_keywords{
        font-size: 0.8rem;
        margin-left: -15px;
    }

    .team_compatibility{
        font-size: 1.3rem;
    }

    .amount{
        font-size: 1.1rem;
    }

    .members{
        margin-left: -90px;
        left: 50px;
    }

    .member_container{
        width: 30px;
        height: 30px;
    }

    .head{
        width: 14px;
        height: 14px;
        transform: translateX(6px) translateY(7px);
    }

    .body{
        width: 18px;
        height: 7px;
        transform: translateX(4px) translateY(20px);
    }
}

/*============ZMENSENE OKNO 400px==============*/
@media screen and (max-width: 400px){
    .filter{
        margin-left: 0px;
    }
    .title{
        font-size: 1.7rem;
        width: 155px;
    }

    .find_bar{
        margin-left: -20px;
        width: 160px;
    }

    .round_bar{
        transform: translateX(148px) translateY(-35px);
    }

    .line_bar{
        transform: translateX(168px) translateY(-20px) rotate(-45deg);
    }

    .row{
        margin-bottom: 0;
        margin-top: 3px;
    }

    .team_name{
        font-size: 1.4rem;
        margin-left: -40px;
    }

    .team_keywords{
        font-size: 0.7rem;
        margin-left: -25px;
    }

    .team_compatibility{
        font-size: 1.2rem;
        left: 10px;
    }
}
