<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/error.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    
  <script src="/script/nav.js"></script>
    
    <div class="content" id="content"> 
        <img src="/images/error.jfif" class="image_back" id="content_container">
        <div class="error_border">
            <div class="error_message">
                <div class="ops">Jejda,..</div>
                <div class="rest">tady se něco pokazilo!</div>
            </div>
        </div>
    </div>
            
</body>
</html>