<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/error.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="index.html">Domů</a></li>
                <li><a href="#">Najít</a></li>
                <li><a href="registration.html">Účet</a>
                    <ul class="dropdown" id="dropdown">
                        <li><a class="dropdown_item" href="#">Můj účet</a></li>
                        <li><a class="dropdown_item" href="#">Moje týmy</a></li>
                        <li><a class="dropdown_item" href="#">Odhlásit se</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>
    
    <div class="content" id="content"> 
        <img src="/images/error.jfif" class="image_back" id="content_container">
        <div class="error_border">
            <div class="error_message">
                <div class="ops">Jejda,..</div>
                <div class="rest">tady se něco pokazilo!</div>
            </div>
        </div>
    </div>
            
</body>
</html>