<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/error.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="index.html">Dom콢</a></li>
                <li><a href="#">Naj칤t t칳m</a></li>
                <li><a href="registration.html">칔캜et</a>
                    <ul class="dropdown" id="dropdown">
                        <li><a class="dropdown_item" href="my_profile.html">M콢j 칰캜et</a></li>
                        <li><a class="dropdown_item" href="#">Moje t칳my</a></li>
                        <li><a class="dropdown_item" href="#">Odhl치sit se</a></li>
                    </ul>
                </li>
        <!-- NOTIFIKACNI LISTA START -->
                <li><a href="#">NOVINKY</a>
                    <ul class="dropdown-news" id="dropdown-news">
                        <button type="submit" class="clear-btn_index">Vy캜istit</button>
                        <p class="dropdown_item-news">xplagiat96 ode코el z t칳mu PNF</p>
                        <p class="dropdown_item-news">xplagiat96 ode코el z t칳mu Dlouh칳 n치zev t칳mu</p>
                        <p class="dropdown_item-news">xplagiat96 ode코el z t칳mu Project Not Found</p>
                        <p class="dropdown_item-news">xplagiat96 se p콏idal do t칳mu N치zev</p>
                    </ul>
                </li>
        <!-- NOTIFIKACNI LISTA END -->
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

        <!-- NOTIFIKACNI LISTA START (mobilni) -->
        <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
        <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
        <nav class="nav_notify">
            <button type="submit" class="clear-btn_index">Vy캜istit</button>
            <p class="notifications">xplagiat96 ode코el z t칳mu Dlouh칳 n치zev t칳mu zalo쬰n칠ho mnou</p>
            <p class="notifications">xplagiat96 ode코el z t칳mu Project Not Found</p>
        </nav>
        <!-- NOTIFIKACNI LISTA END (mobilni) -->

    </header>
    
    <div class="content" id="content"> 
        <img src="images/error.jpg" class="image_back" id="content_container">
        <div class="error_border">
            <div class="error_message">
                <div class="ops">Jejda,</div>
                <div class="rest">tady se n캩co pokazilo!</div>
            </div>
        </div>
    </div>
            
</body>
</html>