<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/main_page.css">
    <link rel="stylesheet" href="style/my_profile.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="index.html">Domů</a></li>
                <li><a href="#">Najít</a></li>
                <li><a href="registration.html">Účet</a>
                    <ul class="dropdown" id="dropdown">
                        <li><a class="dropdown_item" href="#">Můj účet</a></li>
                        <li><a class="dropdown_item" href="#">Moje týmy</a></li>
                        <li><a class="dropdown_item" href="#">Odhlásit se</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>

    <!-- <div class="content">
        <div class="content_container">
          </div>
           <div class="wrapper">
                <h2>Můj účet</h2>
                <table class="content-table">
                    <tbody>
                      <tr>
                        <td><b>Uživatelské jméno</b></td>
                        <td>kaja</td>
                      </tr>
                      <tr class="active-row">
                        <td><b>E-mail</b></td>
                        <td>kaja@centrum.cz</td>
                      </tr>
                      <tr>
                        <td><b>Ročník</b></td>
                        <td>2.</td>
                      </tr>
                      <tr>
                        <td><b>Fakulta</b></td>
                        <td>FIT</td>
                      </tr>
                      <tr>
                        <td><b>Kontakt</b></td>
                        <td><a href="discord.com/kajagott/">Discord</a></td>
                      </tr>
                      <tr>
                        <td><b>Preferovaná doba práce</b></td>
                        <td>pozdě do noci</td>
                      </tr>
                      <tr>
                        <td><b>Přístup k práci</b></td>
                        <td>individuální</td>
                      </tr>
                      <tr>
                        <td><b>Národnost</b></td>
                        <td>česká</td>
                      </tr>
                    </tbody>
                  </table>
                <div class="my_profile-button">
                    <button type="button" class="my_profile-btn"><b>Upravit profil</b></button>
                    <button type="button" class="my_profile-btn"><b>Změnit heslo</b></button>
                </div>
           </div> 
        </div>
    </div> -->

    <div class="content">
      <div class="form-box">
      <div class="content_container">
         <div class="wrapper">
              <h2 class="my_profile-title">Můj účet</h2>
              <table class="content-table">
                  <tbody>
                    <tr>
                      <td><b>Uživatelské jméno</b></td>
                      <td>kaja</td>
                    </tr>
                    <tr class="active-row">
                      <td><b>E-mail</b></td>
                      <td>kaja@centrum.cz</td>
                    </tr>
                    <tr>
                      <td><b>Ročník</b></td>
                      <td>2.</td>
                    </tr>
                    <tr>
                      <td><b>Fakulta</b></td>
                      <td>FIT</td>
                    </tr>
                    <tr>
                      <td><b>Kontakt</b></td>
                      <td><a href="discord.com/kajagott/">Discord</a></td>
                    </tr>
                    <tr>
                      <td><b>Preferovaná doba práce</b></td>
                      <td>pozdě do noci</td>
                    </tr>
                    <tr>
                      <td><b>Přístup k práci</b></td>
                      <td>individuální</td>
                    </tr>
                    <tr>
                      <td><b>Národnost</b></td>
                      <td>česká</td>
                    </tr>
                  </tbody>
                </table>
              <div class="my_profile-button">
                  <button type="button" class="my_profile-btn">Upravit profil</button>
                  <button type="button" class="my_profile-btn">Změnit heslo</button>
              </div>
         </div> 
        </div>
      </div>
  </div>
    
            
</body>
</html>