<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/main_page.css">
    <link rel="stylesheet" href="style/reset_info.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    <% if(!userLogged) { %>
        <header>
          <img src="/images/logo.png" alt="logo" class="logo" width="200" height="50">
          <input type="checkbox" id="nav-toggle" class="nav-toggle">
          <nav>
            <ul>
              <li><a href="/">Dom콢</a></li>
              <li><a href="/faculty">Naj칤t t칳m</a></li>
              <li><a href="/register">칔캜et</a>
                <ul class="dropdown" id="dropdown">
                  <li><a class="dropdown_item" href="/register">P콏ihl치코en칤</a></li>
                  <li><a class="dropdown_item" href="/register">Registrace</a></li>
                </ul>
              </li>
    
            </ul>
          </nav>
          <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    
        </header>
        <% } if(userLogged) { %>
          <header>
            <img src="/images/logo.png" alt="logo" class="logo" width="200" height="50">
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
              <ul>
                <li><a href="/">Dom콢</a></li>
                <li><a href="/faculty">Naj칤t t칳m</a></li>
                <li><a href="/my_profile">칔캜et</a>
                  <ul class="dropdown" id="dropdown">
                    <li><a class="dropdown_item" href="/my_profile">M콢j 칰캜et</a></li>
                    <li><a class="dropdown_item" href="/team/myTeams">Moje t칳my</a></li>
                    <li><a class="dropdown_item" data-method="delete" href="/logout">Odhl치sit se</a></li>
                  </ul>
                </li>
                <!-- NOTIFIKACNI LISTA START -->
                <li><a id="notif" href="#">Notifikace</a>
                  <ul class="dropdown-news" id="dropdown-news">
                    <form action="/notification/deleteAll" method="post">
                        <button type="submit" class="clear-btn_index">Vy캜istit</button>
                      </form>
                        <%notification.forEach((notifi, index)=> {%>
                          <p class="dropdown_item-news">
                            <%= notifi.notification %>
                          </p>
                          <%})%>
                  </ul>
                </li>
                <!-- NOTIFIKACNI LISTA END -->
              </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    
            <!-- NOTIFIKACNI LISTA START (mobilni) -->
            <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
            <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
            <nav class="nav_notify">
                <li><a id="notif" href="#">Notifikace</a>
                    <ul class="dropdown-news" id="dropdown-news">
                      <form action="/notification/deleteAll" method="post">
                          <button type="submit" class="clear-btn_index">Vy캜istit</button>
                        </form>
                          <%notification.forEach((notifi, index)=> {%>
                            <p class="dropdown_item-news">
                              <%= notifi.notification %>
                            </p>
                            <%})%>
                    </ul>
                  </li>
            </nav>
            <!-- NOTIFIKACNI LISTA END (mobilni) -->
          </header>
          <% } %>

    <div class="hero">
        <div class="form-box">
                <form id="edit" class="input-group">
                    <h2 class="nadpis">Aktualizace 칰daj콢</h2>
                    <input type="number" class="input-field" name="yearOfStudy" placeholder="Ro캜n칤k" required>
                    <input type="text" class="input-field" name="communicationChannel" placeholder="Kontakt" required>
                    <div class="select">
                        <select name="faculty" id="selOptions" required>
                            <option value="" disabled selected hidden>Fakulta</option>
                            <option value="FIT">FIT</option>
                            <option value="FEKT">FEKT</option>
                            <option value="FCH">FCH</option>
                            <option value="FAST">FAST</option>
                            <option value="FA">FA</option>
                            <option value="FP">FP</option>
                            <option value="FaVU">FaVU</option>
                        </select>
                        <select name="approach" id="selOptions" required>
                            <option value="" disabled selected hidden>P콏칤stup k pr치ci</option>
                            <option value="1">t칳mov칳</option>
                            <option value="2">individu치ln칤</option>
                        </select>
                        <select name="workingHours" id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovan치 doba pr치ce</option>
                            <option value="1">brzy r치no</option>
                            <option value="2">dlouho do noci</option>
                            <option value="3">b캩hem dne</option>
                        </select>
                        <select name="workingDays " id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovan칠 dny pr치ce</option>
                            <option value="1">za캜치tek t칳dne</option>
                            <option value="2">konec t칳dne</option>
                            <option value="3">v칤kend</option>
                        </select>
                    </div>
                
                <!-- <input type="checkbox" class="check-box"><span>Souhlas칤m s podm칤nkami</span> -->
                <button type="submit" class="submit-btn">Ulo쬴t zm캩ny</button>
            </form>
        </div>
        
    </div>
    
    
</body>
<script src="/script/app.js"></script>
</html>