<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/main_page.css">
    <link rel="stylesheet" href="style/reset_pass.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    
  <script src="/script/nav.js"></script>

    <div class="hero">
        <div class="form-box">
            <form id="edit" class="input-group">
                <h2 class="nadpis">Obnova hesla</h2>
                <input type="password" class="input-field" placeholder="Aktuální heslo" required>
                <input type="password" class="input-field" placeholder="Nové heslo" minlength="8" required>
                <input type="password" class="input-field" placeholder="Zopakujte nové heslo" required>
                <!-- <input type="checkbox" class="check-box"><span>Souhlasím s podmínkami</span> -->
                <button type="submit" class="submit-btn">Aktualizovat heslo</button>
                <button type="submit" class="submit-btn-red">Neprovádět změny</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>