<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style-nav.css">
    <link rel="stylesheet" href="/style/subjects.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
   
    <header>
        <img src="/images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/faculty">Najít tým</a></li>
            <li><a href="my_profile">Účet</a>
              <ul class="dropdown" id="dropdown">
                <li><a class="dropdown_item" href="/my_profile">Můj účet</a></li>
                <li><a class="dropdown_item" href="/team/myTeams">Moje týmy</a></li>
                <li><a class="dropdown_item" data-method="delete" href="/logout">Odhlásit se</a></li>
              </ul>
            </li>
            <li><a href="registration.html">new</a>
                <ul class="dropdown-news" id="dropdown-news">
                    <%notification.forEach((notifi, index) => {%>
                        <p class="dropdown_item-news">
                        <%= notifi.notification %>
                        </p>
                    <%})%>
                    <p class="dropdown_item-news">xplagiat96 odešel z týmu Dlouhý název týmu</p>
                    <p class="dropdown_item-news">xplagiat96 odešel z týmu Project Not Found</p>
                    <p class="dropdown_item-news">xplagiat96 se přidal do týmu Název</p>
                    <button type="submit" class="clear-btn_index">Vyčistit</button>
                </ul>
            </li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
      </header>

    <div class="content" id="content">
        <div class="content_container">
            <ul class="title_container">
                <li class="faculty_ref_container">
                    <a href="/faculty" class="faculty_ref" id="faculty_ref">Výběr fakulty</a>
                    <span class="twisted_bar"></span>
                    <span class="left_bar"></span>
                    <span class="right_bar"></span>
                </li>
                <li class="title">Vyberte předmět</li>
                <li class="find_container" id="find_container">
                    <form action="javascript:;" onsubmit="Search(this)">
                        <input type="text" class="find_bar" id="search_phrase" oninput="Search(this)">
                        <input type="submit" class="find_square" value="">
                        <span class="round_bar"></span>
                        <span class="line_bar"></span>
                    </form>
                </li>
            </ul>
            <div id="find_con_phone"></div>
            <div id="search">
                <ul class="subject_list">
                    <% var index = 0; %>
                    <% subjects.forEach((subject, index) => { %>
                        <% index++ %>
                        <li class="subject_item">
                            <a class="subject_link" href="/team/<%=faculty%>/<%=subject.id%>"> <%= subject.short %> </a>
                        </li>

                        <% if(!(index %= 5)) { %>
                            </ul>
                            <ul class="subject_list">
                        <% } %>

                    <% }) %>
                </ul>
                
            </div>
        </div>
    </div>
    <script src="script/subjects.js"></script> 
</body>
</html>