<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="stylesheet" href="style/main_page.css">
    <link rel="stylesheet" href="style/team_info_edit.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="index.html">Domů</a></li>
                <li><a href="#">Najít</a></li>
                <li><a href="#">Účet</a>
                    <ul class="dropdown" id="dropdown">
                        <li><a class="dropdown_item" href="my_profile.html">Můj účet</a></li>
                        <li><a class="dropdown_item" href="#">Moje týmy</a></li>
                        <li><a class="dropdown_item" href="#">Odhlásit se</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>

    <!-- <div class="hero">
        <div class="form-box">
                <form class="input-group">
                    <h2 class="nadpis">Aktualizace týmu</h2>
                    <input type="text" class="input-field" name="name" autocomplete="off" placeholder="Název týmu" required>
                    <input type="number" class="input-field" name="maxNumOfMem" autocomplete="off" placeholder="Cílový počet členů" required>
                    <input type="text" class="input-field" name="briefDescription " placeholder="Stručný popis" required>
                    <input type="textarea" class="input-field" name="hashtags" placeholder="Klíčová slova">
                    <div class="select">
                        <select name="workingHours" id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovaná doba práce</option>
                            <option value="0">brzy ráno</option>
                            <option value="1">dlouho do noci</option>
                            <option value="2">během dne</option>
                        </select>
                        <select name="workingDays " id="selOptions" required>
                            <option value="" disabled selected hidden>Preferované dny práce</option>
                            <option value="0">začátek týdne</option>
                            <option value="1">konec týdne</option>
                            <option value="2">víkend</option>
                        </select>
                        <select name="approach" id="selOptions" required>
                            <option value="" disabled selected hidden>Přístup k práci</option>
                            <option value="0">týmový</option>
                            <option value="1">individuální</option>
                        </select>
                        <select name="partOfSemestr" id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovaná část semestru</option>
                            <option value="0">1. - 3. týden</option>
                            <option value="1">4. - 6. týden</option>
                            <option value="2">7. - 9. týden</option>
                            <option value="3">10. - 13. týden</option>
                        </select>
                    </div>
                    <button type="submit" class="submit-btn">Uložit změny</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlogin58</button>
                    <button type="submit" class="submit-btn-red">Odebrat xplagiat01</button>
                    <button type="submit" class="submit-btn-red">Odebrat xhonza02</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                    <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
            </form>
        </div>
    </div> -->

    <!-- <div class="content">
        <div class="content_container">
            <div class="form-box">
                    <form class="input-group">
                        <h2 class="nadpis">Aktualizace týmu</h2>
                            <input type="text" class="input-field" name="name" autocomplete="off" placeholder="Název týmu" required>
                            <input type="number" class="input-field" name="maxNumOfMem" autocomplete="off" placeholder="Cílový počet členů" required>
                            <input type="text" class="input-field" name="briefDescription " placeholder="Stručný popis" required>
                            <input type="textarea" class="input-field" name="hashtags" placeholder="Klíčová slova">
                            <div class="select">
                                <select name="workingHours" id="selOptions" required>
                                    <option value="" disabled selected hidden>Preferovaná doba práce</option>
                                    <option value="0">brzy ráno</option>
                                    <option value="1">dlouho do noci</option>
                                    <option value="2">během dne</option>
                                </select>
                                <select name="workingDays " id="selOptions" required>
                                    <option value="" disabled selected hidden>Preferované dny práce</option>
                                    <option value="0">začátek týdne</option>
                                    <option value="1">konec týdne</option>
                                    <option value="2">víkend</option>
                                </select>
                                <select name="approach" id="selOptions" required>
                                    <option value="" disabled selected hidden>Přístup k práci</option>
                                    <option value="0">týmový</option>
                                    <option value="1">individuální</option>
                                </select>
                                <select name="partOfSemestr" id="selOptions" required>
                                    <option value="" disabled selected hidden>Preferovaná část semestru</option>
                                    <option value="0">1. - 3. týden</option>
                                    <option value="1">4. - 6. týden</option>
                                    <option value="2">7. - 9. týden</option>
                                    <option value="3">10. - 13. týden</option>
                                </select>
                            </div>
                            <div class="team_info_edit-btn">
                                <button type="submit" class="submit-btn">Uložit změny</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlogin58</button>
                                <button type="submit" class="submit-btn-red">Odebrat xplagiat01</button>
                                <button type="submit" class="submit-btn-red">Odebrat xhonza02</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                                <button type="submit" class="submit-btn-red">Odebrat xlubos54</button>
                            </div>
                    </form>
            </div>
        </div>
    </div> -->

    <div class="content">
        <div class="content_container">
        <div class="form-box">
            <h2 class="nadpis">Aktualizace týmu</h2>
            <form class="input-group">
                    <input type="text" class="input-field" name="name" autocomplete="off" placeholder="Název týmu" required>
                    <input type="number" class="input-field" name="maxNumOfMem" autocomplete="off" placeholder="Cílový počet členů" required>
                    <input type="text" class="input-field" name="briefDescription " placeholder="Stručný popis" required>
                    <input type="textarea" class="input-field" name="hashtags" placeholder="Klíčová slova">
                    <div class="select">
                        <select name="workingHours" id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovaná doba práce</option>
                            <option value="0">brzy ráno</option>
                            <option value="1">dlouho do noci</option>
                            <option value="2">během dne</option>
                        </select>
                        <select name="workingDays " id="selOptions" required>
                            <option value="" disabled selected hidden>Preferované dny práce</option>
                            <option value="0">začátek týdne</option>
                            <option value="1">konec týdne</option>
                            <option value="2">víkend</option>
                        </select>
                        <select name="approach" id="selOptions" required>
                            <option value="" disabled selected hidden>Přístup k práci</option>
                            <option value="0">týmový</option>
                            <option value="1">individuální</option>
                        </select>
                        <select name="partOfSemestr" id="selOptions" required>
                            <option value="" disabled selected hidden>Preferovaná část semestru</option>
                            <option value="0">1. - 3. týden</option>
                            <option value="1">4. - 6. týden</option>
                            <option value="2">7. - 9. týden</option>
                            <option value="3">10. - 13. týden</option>
                        </select>
                    </div>
                    <div class="my_profile-button">
                        <button type="submit" class="my_profile-btn">Uložit změny</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xlogin58</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xplagiat01</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xhonza02</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xlubos54</button>
                        <!-- <button type="submit" class="my_profile-btn-red">Odebrat xlubos54</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xlubos54</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xlubos54</button>
                        <button type="submit" class="my_profile-btn-red">Odebrat xlubos54</button> -->
                    </div>
            </form>
      </div>
  </div>
    
    
</body>
</html>